{% extends "_layouts/base.html" %}
{% import "_layouts/_components.html" as ui %}
{% set title = "Reset your password" %}
{% set preheader = "Use this secure link only if you requested a reset. Link expires at " ~ expires_at_local ~ " " ~ timezone ~ "." %}
{% set badge = "Security" %}
{% set badge_tone = "info" %}
{% set footer_reason %}You are receiving this security notification because it concerns your Zoiko HR account.{% endset %}
{% block content %}
<h1 class="h1 dm-text-strong" style="{{ S.h1 }}">Reset your password</h1>
<p class="t-body dm-text-body" style="{{ S.p }}">Hello <strong class="dm-text-strong" style="{{ S.strong }}">{{ first_name }}</strong>, a password reset request was received for your account. For your security, the link below can be used once.</p>
{% call ui.details() %}
{{ ui.detail_row("Link type", "Single-use security link", first=True) }}
{{ ui.detail_row("Expires at", expires_at_local ~ " " ~ timezone) }}
{% endcall %}
{{ ui.button(action_url, "Reset password") }}
{% call ui.notice("Didn't request this change?", "info") %}
If you did not request a password reset, you can safely ignore this email. Your password will remain unchanged.
{% endcall %}
{{ ui.signoff() }}
{% endblock %}
