{% extends "_layouts/base.html" %}
{% import "_layouts/_components.html" as ui %}
{% set title = "Password changed" %}
{% set preheader = "Security confirmation: your password was updated at " ~ event_time_local ~ " " ~ timezone ~ "." %}
{% set badge = "Security" %}
{% set badge_tone = "info" %}
{% set footer_reason %}You are receiving this security notification because it concerns your Zoiko HR account.{% endset %}
{% block content %}
<h1 class="h1 dm-text-strong" style="{{ S.h1 }}">Password changed</h1>
<p class="t-body dm-text-body" style="{{ S.p }}">Hello <strong class="dm-text-strong" style="{{ S.strong }}">{{ first_name }}</strong>, this is a security confirmation that the password for your Zoiko HR account was recently updated.</p>
{% call ui.details() %}
{{ ui.detail_row("Changed at", event_time_local ~ " " ~ timezone, first=True) }}
{% endcall %}
{% call ui.notice("Didn't make this change?", "warning") %}
If you did not perform this action, someone else may have accessed your account. Secure your account immediately using the button below.
{% endcall %}
{{ ui.button(action_url, "Report an unrecognized change") }}
{{ ui.signoff() }}
{% endblock %}
