{% extends "_layouts/base.html" %}
{% import "_layouts/_components.html" as ui %}
{% set title = "Invitation to Zoiko HR" %}
{% set preheader = inviter_name ~ " has invited you to " ~ workspace_name ~ " on Zoiko HR." %}
{% set badge = "Invitation" %}
{% set badge_tone = "info" %}
{% set footer_reason %}You are receiving this email because {{ inviter_name }} invited this address to {{ workspace_name }} on Zoiko HR.{% endset %}
{% block content %}
<h1 class="h1 dm-text-strong" style="{{ S.h1 }}">You're invited, {{ first_name }}</h1>
<p class="t-body dm-text-body" style="{{ S.p }}"><strong class="dm-text-strong" style="{{ S.strong }}">{{ inviter_name }}</strong> has invited you to join <strong class="dm-text-strong" style="{{ S.strong }}">{{ workspace_name }}</strong> on Zoiko HR. Use the button below to set up your account and choose a password. This invitation expires on <strong class="dm-text-strong" style="{{ S.strong }}">{{ expires_at_local }} ({{ timezone }})</strong>.</p>
{{ ui.button(action_url, "Set up your account") }}
{{ ui.link_fallback(action_url) }}
<p class="dm-text-muted" style="{{ S.muted }}">If you were not expecting this invitation, you can safely ignore this email.</p>
{{ ui.signoff() }}
{% endblock %}
