{% extends "_layouts/base.html" %}
{% import "_layouts/_components.html" as ui %}
{% set title = "Your Zoiko HR account is ready" %}
{% set preheader = "Your " ~ workspace_name ~ " account on Zoiko HR is ready." %}
{% set badge = "Activated" %}
{% set badge_tone = "success" %}
{% set footer_reason %}You are receiving this security notification because it concerns your Zoiko HR account.{% endset %}
{% block content %}
<h1 class="h1 dm-text-strong" style="{{ S.h1 }}">Your account is ready, {{ first_name }}</h1>
<p class="t-body dm-text-body" style="{{ S.p }}">Your administrator account for <strong class="dm-text-strong" style="{{ S.strong }}">{{ workspace_name }}</strong> has been activated on Zoiko HR. Use the button below to sign in and start managing your workspace.</p>
{{ ui.button(login_url, "Sign in to Zoiko HR") }}
{{ ui.link_fallback(login_url) }}
{{ ui.signoff() }}
{% endblock %}
